<%include ../partials/header%> 

   <h1 class = "logo"><img src="/logo2.png"/></h1>
    <section class="banner_contact">
    <div class = "onbanner">
    <p><strong>EDIT</strong></p>
	<h4>Warning: Once you make those changes you can't go back</h4>
	</div>
	</section>
	
		<section class="section_contact">
		<div class="container">
		    <%res.forEach(function (individualOne){%>
			<form accept-charset = "UTF-8" action="/editcontact/<%=individualOne.id%>" method="post">
			<label class="required" for="name">First name</label>
			<input id="name" name="name" required type="text" value="<%=individualOne.name%>"/>
			<label class="required" for="surname">Surname</label>
			<input id="surname" name="surname" required type="text" value="<%=individualOne.surname%>"/>
			<label class="required" for="email">Email</label>
			<input id="email" required name="email" type="email" value="<%=individualOne.email%>"/>	
			<label class="required" for="comment">Message</label>
			<textarea id="comment" required name="comment"><%=individualOne.comment%></textarea>
			<button class="button" type="submit" >Save Changes</button>
            </form>
           <% });%>
		</div>
	</section>

<%include ../partials/footer%>